<!-- Latest compiled and minified JavaScript -->
<footer class="page-footer font-small blue pt-4">
    
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
       <a href="https://mdbootstrap.com/education/bootstrap/"> Pardeep Yadav</a>
    </div>
  </footer>

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>